<?php

use Gpupo\CommonDevExtra\CsConfigurator;

$packageInfo = [
    'project' => 'gpupo/mercadolivre-sdk',
    'author' => 'Gilmar Pupo <contact@gpupo.com>',
    'url' => 'https://opensource.gpupo.com/',
];

return (new CsConfigurator(__DIR__))->getConfig($packageInfo);
