<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnWarning="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Main Test Suite">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Product">
            <directory>tests/Entity/Product/</directory>
        </testsuite>
        <testsuite name="Order">
            <directory>tests/Entity/Order</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/</directory>
            <exclude>
              <directory>src/Console/</directory>
              <directory>*.config.php</directory>
              <directory>*.map.php</directory>
              <directory>*.template.php</directory>
            </exclude>
        </whitelist>
    </filter>

    <!-- Customize your parameters ! -->
    <php>
        <const name="CLIENT_ID" value=""/>
        <const name="ACCESS_TOKEN" value="fooToken"/>
        <const name="REGISTER_PATH" value=""/>
        <const name="VERBOSE" value=""/>
    </php>
    <logging>
      <log type="coverage-clover" target="build/logs/clover.xml"/>
      <log type="testdox-text" target="build/logs/testdox.txt"/>
      <log type="testdox-html" target="build/logs/testdox.html"/>
      <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
      <log type="coverage-text" target=" Resources/doc/coverage.md" showUncoveredFiles="false"/>
      <log type="coverage-html" target="build/logs/report"  lowUpperBound="50" highLowerBound="80" />
    </logging>
</phpunit>
